<a href="https://colab.research.google.com/github/narayan2111/Assignment_Portal/blob/master/iterative_statements_practical.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Iterative Statements in Python - Practical Exam Questions
Class 8th Practical Notebook

## Practical Coding Questions

**Q:** Write a program to print numbers from 1 to 10 using a `for` loop.

In [7]:
# Write your code here
for i in range(10):
  print(i+1)

1
2
3
4
5
6
7
8
9
10

**Q:** Write a program to print all even numbers between 1 and 20 using a `while` loop.

In [3]:
# Write your code here
i = 2
while i<20:
  if(i%2==0):
    print(i)
  i = i+2

2
4
6
8
10
12
14
16
18

**Q:** Use `range()` to print numbers from 5 to 15.

In [5]:
# Write your code here
n = 5
for i in range(5,15):
  print(i)

5
6
7
8
9
10
11
12
13
14

**Q:** Write a program to print the multiplication table of 7 using a loop.

In [8]:
# Write your code here
n = 7
for i in range(1,10):
  print(f"{n}*{i} = {n*i}")

7*1 = 7
7*2 = 14
7*3 = 21
7*4 = 28
7*5 = 35
7*6 = 42
7*7 = 49
7*8 = 56
7*9 = 63

**Q:** Write a program that prints the sum of numbers from 1 to 50 using a loop.

In [10]:
# Write your code here
sum = 0
for i in range(1,51):
  sum += i
print(f"sum of numbers from 1 to 50 is {sum}")

sum of numbers from 1 to 50 is 1275

**Q:** Write a program to print all elements of a list:
```python
fruits = ['apple', 'banana', 'cherry', 'mango']
```

In [12]:
# Write your code here
fruits = ['apple', 'banana', 'cherry', 'mango']
for fruit in fruits:
  print(fruit)

apple
banana
cherry
mango

**Q:** Write a program to count the number of digits in a number entered by the user.

In [ ]:
# Write your code here

**Q:** Write a program to print factorial of a given number using a loop.

In [ ]:
# Write your code here

**Q:** Write a program to reverse the digits of a number using a `while` loop.

In [ ]:
# Write your code here

**Q:** Write a program that asks the user for 5 numbers and prints their average.

In [ ]:
# Write your code here

**Q:** Write a program to display the squares of the first 10 natural numbers.

In [ ]:
# Write your code here

**Q:** Write a program to print the Fibonacci sequence up to 10 terms using a loop.

In [ ]:
# Write your code here

## Output Prediction Questions

**Q:** Predict the output:
```python
for i in range(2, 10, 2):
    print(i, end=' ')
```

In [ ]:
# Write the expected output here

**Q:** Predict the output:
```python
for i in range(1, 6):
    print(i * '*')
```

In [ ]:
# Write the expected output here

**Q:** Predict the output:
```python
num = 10
while num > 0:
    print(num, end=' ')
    num -= 3
```

In [ ]:
# Write the expected output here

**Q:** Predict the output:
```python
fruits = ['apple', 'banana', 'cherry']
for f in fruits:
    print(f.upper())
```

In [ ]:
# Write the expected output here

**Q:** Predict the output:
```python
count = 1
while count <= 5:
    print('Hello')
    count += 1
```

In [ ]:
# Write the expected output here